.card {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 0.5rem 0.5rem 0 0.5rem;
	margin: 0.5rem;
	border-radius: 10%;
}

.card-img img {
	height: 10rem;
}

.card-info {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.card-name {
	font-weight: 700;
	font-size: 2rem;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 1rem;
}

.card-number {
	font-weight: 300;
	margin-top: 0;
}

.pokemon-types {
	text-transform: capitalize;
}

.pokemon-type {
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 16px;
	margin: 0 5px;
	margin-bottom: 10px;
	padding: 0 5px 0 1px;
}

.pokemon-types p {
	margin: 5px;
}

.pokemon-type-icon {
	display: inline-block;
	height: 2rem;
	width: 2rem;
}

@media screen and (max-device-width: 600px) {
	.card {
		flex-direction: row;
		width: 100%;
		border-radius: 1.5rem;
		padding: 0rem 0.5rem;
		margin: 0.5rem 1.5rem;
	}
	.card-img {
		margin: 0 1.5rem;
	}

	.card-img img {
		height: 8rem;
	}

	.card-info {
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		position: relative;
	}

	.card-name {
		font-size: 2.5rem;
	}

	.pokemon-types {
		display: flex;
	}

	.card-number {
		font-weight: 700;
		font-size: 4rem;
		align-self: end;
		margin: 0;
		color: rgba(255, 255, 255, 0.3);
		position: absolute;
		bottom: 0;
		margin-right: 1rem;
	}
}
