.search {
	width: 100%;
}

.search-form {
	display: flex;
	justify-content: flex-end;
}

.search-input {
	position: relative;
}

.search-input input {
	box-sizing: border-box;
	border: none;
	background-color: #eaeaec;
	padding: 1.2rem 2rem;
	border-radius: 16px;
	font-size: 1rem;
	width: 30rem;
	transition: all 0.1s ease-in-out;
}

.search-input i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	color: #abb1b9;
}

.search-input input:focus {
	border: none;
	box-shadow: 0px 0px 10px 0.5px #ec574c;
}

@media screen and (max-device-width: 699px) {
	.search-input {
		width: 100%;
		margin: 0.5rem 0;
	}

	.search-input input {
		width: 100%;
	}
}
