:root {
	--type-unknown: #68a090;
	--type-bug: #a8b820;
	--type-dark: #705848;
	--type-dragon: #7038f8;
	--type-electric: #f8d030;
	--type-fairy: #EE99AC;
	--type-fighting: #C03028;
	--type-fire: #f08030;
	--type-flying: #A890F0;
	--type-ghost: #705898;
	--type-grass: #78C850;
	--type-ground: #E0C068;
	--type-ice: #98D8D8;
	--type-normal: #A8A878;
	--type-poison: #A040A0;
	--type-psychic: #F85888;
	--type-rock: #B8A038;
	--type-steel: #B8B8D0;
	--type-water: #6890F0;

	--type-unknown-light: #9DC1B7;
	--type-unknown-dark: #44685E;
	--type-bug-light: #C6D16E;
	--type-bug-dark: #6D7815;
	--type-dark-dark: #4924A1
	--type-dark-light: #A27DFA;
	--type-dragon-dark: #7038f8;
	--type-dragon-light: #7038f8;
	--type-electric-dark: #A1871F;
	--type-electric-light: #FAE078;
	--type-fairy-dark: #9B6470;
	--type-fairy-light: #F4BDC9:
	--type-fighting-dark: #7D1F1A;
	--type-fighting-light:#D67873;
	--type-fire-dark: #9C531F;
	--type-fire-light: #F5AC78;
	--type-flying-dark: #6D5E9C;
	--type-flying-light: #C6B7F5;
	--type-ghost-dark: #6D5E9C;
	--type-ghost-light: #C6B7F5;
	--type-grass-dark: #4E8234;
	--type-grass-light: #A7DB8D;
	--type-ground-dark: #927D44;
	--type-ground-light: #EBD69D;
	--type-ice-dark: #638D8D;
	--type-ice-light: #BCE6E6;
	--type-normal-dark: #6D6D4E;
	--type-normal-light: #C6C6A7;
	--type-poison-dark: #682A68;
	--type-poison-light: #C183C1;
	--type-rock-dark: #A13959;
	--type-rock-light: #FA92B2;
	--type-rock-dark: #786824;
	--type-rock-light: #D1C17D;
	--type-steel-dark: #787887;
	--type-steel-light: #D1D1E0;
	--type-water-dark: #445E9C;
	--type-water-light: #9DB7F5;
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	max-width: 90vw;
	margin: 1.5rem 0;
}

.title {

	font-size: 3rem;
	color: #EC574C;
}

.card-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%
}

.ref-container {
	width: 100%;
	display: flex;
	justify-content: center;
}


@media screen and (min-device-width: 700px) {
.top {
	display: flex;
	justify-content: center;
	align-items: center;
}
}



@media screen and (max-device-width: 699px) {
.top {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.title {
	color: #EC574C;
	margin: 1rem 0;
}

.search {
	margin-right: 0;
}

}


